{% extends "base.html" %}
{% block title %} Food Details{% endblock %}
{% block content %}
<p>This is it</p>

    <div class="result " style="clear: both; margin-left: 150px;  margin-right: 150px; position: relative; overflow: hidden;">
        {{ cuisinedetails.name }}
         <img src="{{ cuisinedetails.background_image.url }}"  >

        {% if documents %}


            {{ documents.description }}

                {% for document in documents %}

                    <p>{{ document.name }}</p>
                    {{ document.description | safe }}


                {% endfor %}

        {% else %}
            <p>No documents.</p>
        {% endif %}


     </div>
{% endblock %}
