<footer class="footer row">
	<div class="container">
		<div class="col-xs-4 col-sm-3">
			<header class="section-head">
				<h4 class="h_md">Company</h4>
				<ul class="foot-links">
					<li><a href=" ">About Us</a></li>
					<li><a href=" ">Careers</a></li>
					<li><a href="//dailyfoodtoeat.com/" target="_blank">Blog</a></li>
				</ul>
			</header>
		</div>
		<div class="col-xs-4 col-sm-3">
			<header class="section-head">
				<h4 class="h_md">Solutions</h4>
				<ul class="foot-links">
					<li><a href=" ">For Merchants</a></li>
					<li><a href=" ">For Corporate</a></li>
					<li><a href=" ">Support/FAQs</a></li>
				</ul>
			</header>
		</div>
		<div class="col-xs-4 col-sm-3">
			<header class="section-head">
				<h4 class="h_md">Social</h4>
				<ul class="foot-links social-links">
					<li>
						<a href="//www.facebook.com/foodtoeat" target="_blank">
							<i class="icon-facebook"></i>
							Facebook
						</a>
					</li>
					<li>
						<a href="//twitter.com/foodtoeat" target="_blank">
							<i class="icon-twitter"></i>
							Twitter
						</a>
					</li>
					<!--<li>
						<a href="#" target="_blank">
							<i class="icon-gplus"></i>
							Google+
						</a>
					</li>-->
					<li>
						<a href="//www.pinterest.com/foodtoeat/" target="_blank">
							<i class="icon-pinterest"></i>
							Pinterest
						</a>
					</li>
					<li>
						<a href="//instagram.com/foodtoeat" target="_blank">
							<i class="icon-instagram"></i>
							Instagram
						</a>
					</li>
				</ul>
			</header>
		</div>
		
		<div class="visible-xs clearfix"></div>

		<div class="col-sm-3">
			<div class="signoff">
				<a href=""><img src="{{STATIC_URL}}base/img/logo.png" class="logo pull-right" alt="FoodtoEat"></a>
				<div class="clearfix"></div>
				<a target="_blank" href=" " class="links-legal">Terms of Use</a>
				<a target="_blank" href=" " class="links-legal">Privacy Policy</a>

			</div>
		</div>
	</div>
</footer>